[submodule "speechmatics"]
	path = speechmatics
	url = https://github.com/azataiot/uyghur-sst-transcript-test.git
[submodule "gheyret-asr"]
	path = gheyret-asr
	url = https://github.com/azataiot/fork-uyghur-asr-transformer.git
